# ChatBot ENV
api_base_url=
credential_key=
send_system_name=
model=
user_id=

# LangSmith ENV
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=