# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Agent
.agents/
.claude
skill-lock.json

faiss_index

day2